<app-admin-side-bar></app-admin-side-bar>
<!-- Page content START -->
<div class="page-content">

    <!-- Top bar START -->
    <app-admin-header></app-admin-header>
    <!-- Top bar END -->

    <!-- Page main content START -->
    <div class="page-content-wrapper border">

        <!-- Title -->
        <div class="row mb-3">
            <div class="col-12 d-sm-flex justify-content-between align-items-center">
                <h1 class="h3 mb-2 mb-sm-0">Testimonials</h1>

            </div>
        </div>

        <!-- Course boxes START -->

        <!-- Course boxes END -->

        <!-- Card START -->
        <div class="card bg-transparent border">

            <!-- Card header START -->
            <div class="card-header bg-light border-bottom">
                <!-- Search and select START -->
                <div class="row g-3 align-items-center justify-content-between">
                    <!-- Search bar -->
                    <div class="col-md-8">
                        <form class="rounded position-relative">
                            <input class="form-control bg-body" type="search" placeholder="Search" aria-label="Search">
                            <button
                                class="bg-transparent p-2 position-absolute top-50 end-0 translate-middle-y border-0 text-primary-hover text-reset"
                                type="submit">
                                <i class="fas fa-search fs-6 "></i>
                            </button>
                        </form>
                    </div>

                    <!-- Select option -->
                    <div class="col-md-3">
                        <!-- Short by filter -->
                        <form>
                            <select class="form-select js-choice border-0 z-index-9" aria-label=".form-select-sm">
                                <option value="">Sort by</option>
                                <option>Newest</option>
                                <option>Oldest</option>
                                <option>Accepted</option>
                                <option>Rejected</option>
                            </select>
                        </form>
                    </div>
                </div>
                <!-- Search and select END -->
            </div>
            <!-- Card header END -->

            <!-- Card body START -->
            <div class="card-body">
                <!-- Course table START -->
                <div class="table-responsive border-0 rounded-3">
                    <!-- Table START -->
                    <table class="table table-dark-gray align-middle p-4 mb-0 table-hover">
                        <!-- Table head -->
                        <thead>
                            <tr>
                                <th scope="col" class="border-0 rounded-start">First Name</th>
                                <th scope="col" class="border-0">Last Name</th>
                                <th scope="col" class="border-0">Message</th>
                                <th scope="col" class="border-0 rounded-end">Status</th>

                                <th scope="col" class="border-0 rounded-end"></th>
                                <th scope="col" class="border-0 rounded-end"></th>
                            </tr>
                        </thead>

                        <!-- Table body START -->
                        <tbody>

                            <!-- Table row -->
                            <tr *ngFor="let item of TestimonalService.testimonials">
                                <!-- Table data -->
                                <td>
                                    <div class="d-flex align-items-center position-relative">

                                        <!-- Title -->
                                        <h4 class="table-responsive-title mb-0 ms-2">
                                            <a href="#" class="stretched-link">{{ item.firstname }}</a>
                                        </h4>
                                    </div>
                                </td>

                                <!-- Table data -->
                                <td>
                                    <div class="d-flex align-items-center mb-3">

                                        <!-- Info -->
                                        <div class="ms-2">
                                            <h4 class="mb-0 fw-light">{{ item.lastname }}</h4>
                                        </div>
                                    </div>
                                </td>


                                <!-- Table data -->
                                <td>
                                    <div class="ms-2">
                                        <h4 class="mb-0 fw-light">{{ item.testimonialmessage }}</h4>
                                    </div>

                                </td>
                                <td>
                                    <div class="ms-2" *ngIf="item.testimonialstatus==0">
                                        <h4 class="mb-0 fw-light">Pending...</h4>
                                    </div>

                                </td>
                                <td>
                                    <div class="ms-2" *ngIf="item.testimonialstatus==1">
                                        <h4 class="mb-0 fw-light">Accepted</h4>
                                    </div>

                                </td>



                                <!-- Table data -->
                                <td>
                                    <a class="btn btn-primary" (click)="ChangeStatus(item)">Accepted</a>

                                </td>
                                <td>
                                    <a (click)="openDeleteDialog(item.testimonialid)"><i class="bi bi-x-lg"></i></a>
                                </td>
                            </tr>


                        </tbody>
                        <!-- Table body END -->
                    </table>
                    <!-- Table END -->
                </div>
                <!-- Course table END -->
            </div>
            <!-- Card body END -->

            <!-- Card footer START -->
            <div class="card-footer bg-transparent pt-0">
                <!-- Pagination START -->
                <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
                    <!-- Content -->
                    <p class="mb-0 text-center text-sm-start">Showing 1 to 8 of 20 entries</p>
                    <!-- Pagination -->
                    <nav class="d-flex justify-content-center mb-0" aria-label="navigation">
                        <ul
                            class="pagination pagination-sm pagination-primary-soft d-inline-block d-md-flex rounded mb-0">
                            <li class="page-item mb-0"><a class="page-link" href="#" tabindex="-1"><i
                                        class="fas fa-angle-left"></i></a></li>
                            <li class="page-item mb-0"><a class="page-link" href="#">1</a></li>
                            <li class="page-item mb-0 active"><a class="page-link" href="#">2</a></li>
                            <li class="page-item mb-0"><a class="page-link" href="#">3</a></li>
                            <li class="page-item mb-0"><a class="page-link" href="#"><i
                                        class="fas fa-angle-right"></i></a></li>
                        </ul>
                    </nav>
                </div>
                <!-- Pagination END -->
            </div>
            <!-- Card footer END -->
        </div>
        <!-- Card END -->
    </div>
    <!-- Page main content END -->

</div>
<!-- Page content END -->




<ng-template #DeleteForm>
    <h2 mat-dialog-content>Would you like to Delete this Message ?</h2>
    <div mat-dialog-actions>
        <input type="button" mat-dialog-close class="btn btn-danger" value="Yes" (click)="DeleteTestimonial()">
        <input type="button" mat-dialog-close class="btn btn-error" value="No">
    </div>
</ng-template>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="wheat" type="square-jelly-box" [fullScreen]="true">
    <p style="color: wheat"> Waiting... </p>
</ngx-spinner>