<app-admin-side-bar></app-admin-side-bar>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "wheat" type = "square-jelly-box" [fullScreen] = "true"><p style="color: wheat" > Waiting... </p></ngx-spinner>

<section class="py-0 bg-blue h-100px align-items-center d-flex h-200px rounded-0" style="background:url(../../../assets/HomeAssets/images/pattern/04.png) no-repeat center center; background-size:cover;">
	<!-- Main banner background image -->
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<!-- Title -->
				<h1 class="text-white">Submit a new Section</h1>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-md-8 mx-auto text-center">
				<!-- Content -->
			</div>
		</div>

		<div class="card bg-transparent border rounded-3 mb-5">
			<div id="stepper" class="bs-stepper stepper-outline">


				<!-- Card body START -->
				<div class="card-body">
					<!-- Step content START -->
					<div class="bs-stepper-content">
						<form [formGroup]="CreateForm">

							<!-- Step 1 content START -->

								<!-- Title -->
								<h4>Section details</h4>

								<hr> <!-- Divider -->

								<!-- Basic information START -->
								
									<!-- Course title -->
									<div class="row g-4">
										<mat-form-field appearance="fill" style="width: 25%; margin-right: 2rem;">
											<mat-label>Start Time</mat-label>
											<input matInput [matDatepicker]="picker1" formControlName='starttime' name="starttime">
											<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
											<mat-datepicker #picker1></mat-datepicker>
										  </mat-form-field>
										</div>
														 
                                          
                                    

									<!-- Short description -->
									<div class="row g-4">
										<mat-form-field appearance="fill" style="width: 25%; margin-right: 2rem;">
											<mat-label>End Time</mat-label>
											<input matInput [matDatepicker]="picker2" formControlName='endtime' name="endtime">
											<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
											<mat-datepicker #picker2></mat-datepicker>
										  </mat-form-field>
										</div>
										<div class="row g-4">
										<mat-form-field appearance="fill" style="width: 25%; margin-right: 2rem;">
											<mat-label>Start Date</mat-label>
											<input matInput [matDatepicker]="picker3" formControlName='startdate' name="startDate">
											<mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
											<mat-datepicker #picker3></mat-datepicker>
										  </mat-form-field>
										</div>
										<div class="row g-4">
											<mat-form-field appearance="fill" style="width: 25%; margin-right: 2rem;">
												<mat-label>End Date</mat-label>
												<input matInput [matDatepicker]="picker4" formControlName='enddate' name="startDate">
												<mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
												<mat-datepicker #picker4></mat-datepicker>
											  </mat-form-field>
											</div>

                  <div class="col-12">
										<mat-form-field class="example-full-width">
                      <mat-label>Meeting Url</mat-label>
                      <input type="text" matInput formControlName='meetingurl'>
                      <mat-error *ngIf="CreateForm.controls['meetingurl'].hasError('required')">
                        Meeting Url is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
									</div>
									<div class="col-12">
										<mat-form-field class="example-full-width">
                      <mat-label>Section Capacity</mat-label>
                      <input type="number" matInput formControlName='sectioncapacity'>
                      <mat-error *ngIf="CreateForm.controls['sectioncapacity'].hasError('required')">
                        Section Capacity is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
									</div>

									<!-- Course level -->
									<div class="col-12">
										<mat-form-field class="example-full-width">
                      <mat-label>Course </mat-label>
                      <input type="number" matInput formControlName='course_Id'>
                      <mat-error *ngIf="CreateForm.controls['course_Id'].hasError('required')">
                        Course is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
									</div>
									<div class="col-12">
										<mat-form-field class="example-full-width">
                      <mat-label>Trainer </mat-label>
                      <input type="number" matInput formControlName='trainer_Id'>
                      <mat-error *ngIf="CreateForm.controls['trainer_Id'].hasError('required')">
                        Trainer is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
									</div>




									<!-- Step 1 button -->
									<div class="d-flex justify-content-end mt-3">
										<input class="btn btn-primary" type="button"  value="Create" (click)="CreateSection()">
									</div>
								
								<!-- Basic information START -->

							<!-- Step 1 content END -->
						</form>
					</div>
				</div>
				<!-- Card body END -->
			</div>
		</div>
	</div>
</section>
<!-- =======================
Steps END -->


