<header class="navbar-light navbar-sticky header-static">
	<!-- Nav START -->
	<nav class="navbar navbar-expand-xl">
		<div class="container-fluid px-3 px-xl-5">
			<!-- Logo START -->
			<a class="navbar-brand" href="index.html">
				<img class="light-mode-item navbar-brand-item"
					src="../../../assets/HomeAssets/images/{{cc}}" alt="logo">

			</a>
			<!-- Logo END -->

			<!-- Responsive navbar toggler -->
			<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-animation">
					<span></span>
					<span></span>
					<span></span>
				</span>
			</button>

			<!-- Main navbar START -->
			<div class="navbar-collapse w-100 collapse" id="navbarCollapse">

				<!-- Nav category menu START -->
				<ul class="navbar-nav navbar-nav-scroll me-auto">
					<!-- Nav item 1 Demos -->

				</ul>
				<!-- Nav category menu END -->

				<!-- Nav Main menu START -->
				<ul class="navbar-nav navbar-nav-scroll me-auto">
					<!-- Nav item 1 Demos -->
					<li class="nav-item dropdown">
						<a class="nav-link active" href="#" id="demoMenu" aria-haspopup="true" aria-expanded="false"
							routerLink="/">Home</a>

					</li>
					<li class="nav-item dropdown">
						<a class="nav-link" href="#" id="accounntMenu" aria-haspopup="true" aria-expanded="false"
							routerLink="/Contact">Contact us</a>

					</li>

					<li class="nav-item dropdown">
						<a class="nav-link" href="#" id="accounntMenu" aria-haspopup="true" aria-expanded="false"
							routerLink="/AboutUs">About us</a>

					</li>
					<li class="nav-item dropdown">
						<a class="nav-link" href="#" id="accounntMenu" aria-haspopup="true" aria-expanded="false"
							routerLink="/details">Apply</a>

					</li>


					<!-- Nav item 2 Pages -->
					<li class="nav-item dropdown">
						<a class="nav-link" href="#" id="pagesMenu" aria-haspopup="true" aria-expanded="false"
							routerLink="/Auth/login">Login</a>

					</li>

					<!-- Nav item 3 Account -->
					<!-- <li class="nav-item dropdown">
						<a class="nav-link" href="#" id="accounntMenu" aria-haspopup="true" aria-expanded="false"
							routerLink="/Auth/register">Register</a>

					</li> -->

					<!-- Nav item 4 Megamenu-->


					<!-- Nav item 5 link-->

				</ul>
				<!-- Nav Main menu END -->

				<!-- Nav Search START -->

				<!-- Nav Search END -->
			</div>
			<!-- Main navbar END -->

			<!-- Profile START -->

			<!-- Profile START -->
		</div>
	</nav>
	<!-- Nav END -->
</header>
