<main>

    <!-- =======================
    Main part START -->
    <section>

        <div class="container">
            <div class="row g-5 justify-content-between">
                <!-- Admission form START -->
                <div class="col-md-8 mx-auto">
                    <!-- Title -->
                    <h1 class="mb-3">Apply for Admission</h1>
                    <p>You can apply online by filling up below form or <a href="#">Download a pdf</a> and submit. Any
                        question related admission process, please contact our admission office at <a href="#">+123 456
                            789</a> or <a href="#">example@email.com</a>.</p>
                    <p class="mb-1">Before you proceed with the form please read below topics:</p>
                    <ul class="ps-3">
                        <li>Application fee is $49</li>
                        <li>Fees are non-refundable</li>
                        <li>Field required with <span class="text-danger">*</span> are required to complete the
                            admission form</li>
                    </ul>

                    <div class="example-input-wrapper">

                        <input id="duration" value="2000" type="number" min="0" step="100" #duration hidden>
                    </div>

                    <mat-vertical-stepper [linear]="false" #stepper [animationDuration]="duration.value" S>
                        <form [formGroup]="UserForm">
                            <mat-step>
                                <ng-template matStepLabel>Personal Information</ng-template>
                                <!--First Name-->
                                <mat-form-field class="example-full-width">
                                    <mat-label>First Name</mat-label>
                                    <input type="text" matInput formControlName="firstname" placeholder="Ex. Jak">

                                    <mat-error *ngIf="UserForm.controls['firstname'].hasError('required')">
                                        First name is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                                <!--Last Name-->
                                <mat-form-field class="example-full-width">
                                    <mat-label>Last Name</mat-label>
                                    <input type="text" matInput formControlName="lastname" placeholder="Ex. May">

                                    <mat-error *ngIf="UserForm.controls['lastname'].hasError('required')">
                                        Last name is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Phone Number</mat-label>
                                    <input type="text" matInput formControlName="phonenumber"
                                        placeholder="Ex. +(962) 777777">

                                    <mat-error *ngIf="UserForm.controls['phonenumber'].hasError('required')">
                                        Phone number is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </mat-step>
                            <mat-step>
                                <ng-template matStepLabel>Security Information</ng-template>
                                <!--User name-->
                                <mat-form-field class="example-full-width">
                                    <mat-label>User Name</mat-label>
                                    <input type="text" matInput formControlName="username"
                                        placeholder="Ex. AhmadGhazal12">

                                    <mat-error *ngIf="UserForm.controls['username'].hasError('required')">
                                        User name is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                                <!-- Email -->
                                <mat-form-field class="example-full-width">
                                    <mat-label>Email</mat-label>
                                    <input type="email" matInput formControlName="email"
                                        placeholder="Ex. pat@example.com">
                                    <mat-error
                                        *ngIf="UserForm.controls['email'].hasError('email') && !UserForm.controls['email'].hasError('required')">
                                        Please enter a valid email address
                                    </mat-error>
                                    <mat-error *ngIf="UserForm.controls['email'].hasError('required')">
                                        Email is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                                <!-- Password -->
                                <mat-form-field class="example-full-width">
                                    <mat-label>Password</mat-label>
                                    <input type="password" matInput formControlName="userpassword"
                                        placeholder="********">
                                    <mat-error
                                        *ngIf="UserForm.controls['userpassword'].hasError('minlength') && !UserForm.controls['userpassword'].hasError('required')">
                                        Please enter a valid password
                                    </mat-error>
                                    <mat-error *ngIf="UserForm.controls['userpassword'].hasError('required')">
                                        Password is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>


                                <input type="submit" [disabled]="UserForm.invalid" value="Save" class="btn btn-primary"
                                    (click)="CreateNewUser()">
                            </mat-step>
                        </form>
                        <mat-step>
                            <ng-template matStepLabel>Done</ng-template>
                            <form [formGroup]="TraineeForm">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Universty</mat-label>
                                    <input type="text" matInput formControlName="university" placeholder="Ex. JUST">

                                    <mat-error *ngIf="TraineeForm.controls['university'].hasError('required')">
                                        Universty name is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                    <mat-label>Major</mat-label>
                                    <input type="text" matInput formControlName="major" placeholder="Ex. CS">

                                    <mat-error *ngIf="TraineeForm.controls['major'].hasError('required')">
                                        Major name is <strong>required</strong>
                                    </mat-error>


                                </mat-form-field>


                                <mat-form-field class="example-full-width">
                                    <mat-label>complete</mat-label>
                                    <input type="text" matInput formControlName="traineefield"
                                        placeholder="Ex. React Native">

                                    <mat-error *ngIf="TraineeForm.controls['traineefield'].hasError('required')">
                                        Filed name is <strong>required</strong>
                                    </mat-error>


                                </mat-form-field>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Address</mat-label>
                                    <input type="text" matInput formControlName="address" placeholder="Ex. Irbid">

                                    <mat-error *ngIf="TraineeForm.controls['address'].hasError('required')">
                                        Address name is <strong>required</strong>
                                    </mat-error>


                                </mat-form-field>

                                <input type="submit" value="Register" class="btn btn-primary" (click)="CreateNewTrainee()" >
                            </form>



                        </mat-step>
                    </mat-vertical-stepper>

                    <!-- Form END -->
                </div>
                <!-- Admission form END -->
            </div>
        </div>
    </section>
    <!-- =======================
    Main part END -->

</main>
