.card {
  width: 30%;
  margin: 10px;
}

@media screen and (max-width: 992px) {
  .card {
    width: 45%;
  }
}

@media screen and (max-width: 576px) {
  .card {
    width: 100%;
  }
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
