<app-home-header></app-home-header>
<div style="justify-content: center; flex-wrap: wrap;" class="card-group ">
      <div style="display: flex; flex-wrap: wrap; justify-content: space-between;">
  <div class="col-md-4" *ngFor="let item of courses" style="margin: 20px; width: 20%;">
    <div class="rounded-top overflow-hidden">
      <div class="card-overlay-hover">
        <!-- Image -->
        <img src="../../../assets/HomeAssets/images/courses/4by3/02.jpg" class="card-img-top" alt="course image">
      </div>
      <!-- Hover element -->
    </div>
    <!-- Card body -->
    <div class="card-body">
      <!-- Badge and icon -->
      <div class="d-flex justify-content-between">
        <!-- Rating and info -->
        <ul class="list-inline hstack gap-2 mb-0" style="margin: 5px;">
          <!-- Info -->
          <li class="list-inline-item d-flex justify-content-center align-items-center">
            <div class="icon-md bg-orange bg-opacity-10 text-orange rounded-circle"><i class="fas fa-user-graduate"></i>
            </div>
            <span class="text-white ms-2">9.1k</span>
          </li>
          <!-- Rating -->
          <li class="list-inline-item d-flex justify-content-center align-items-center">
            <div class="icon-md bg-warning bg-opacity-15 text-warning rounded-circle"><i class="fas fa-star"></i>
            </div>
            <span class="text-white ms-2">4.5</span>
          </li>
          <li class="list-inline-item d-flex justify-content-center align-items-center">
            <div class="icon-md bg-warning bg-opacity-15 text-warning rounded-circle"><i class="fas fa-book"></i>
            </div>
            <span class="text-white ms-2">{{ item.lectures }}</span>
          </li>
        </ul>
        <!-- Avatar -->
        <div class="avatar avatar-sm">
        </div>
      </div>
      <!-- Divider -->
      <hr>
      <!-- Title -->
      <h3 class="card-title"><a href="#">{{ item.coursename }}</a></h3>
      <!-- Badge and Price -->
      <div class="d-flex justify-content-between align-items-center mb-0">
        <div>
          <a href="#" class="badge bg-info bg-opacity-10 text-info me-2"><i class="fas fa-circle small fw-bold"></i> {{ item.courselevel }} </a>
        </div>
        <!-- Price -->
        <h3 class="text-success mb-0">{{ item.duration }} Hours</h3>
      </div>
    </div>
  </div>
</div>
    </div>

<app-home-footer></app-home-footer>
