<nav class="navbar sidebar navbar-expand-xl" style=" background-color:#1d3b53 ;">

	<div class="d-flex align-items-center">
		<a class="navbar-brand" href="index.html">
			<img class="navbar-brand-item" src="../../../assets/HomeAssets/images/{{cc}}" alt="">
		</a>
	</div>

	<div class="offcanvas offcanvas-start flex-row custom-scrollbar h-100" data-bs-backdrop="true" tabindex="-1"
		id="offcanvasSidebar">
		<div class="offcanvas-body sidebar-content d-flex flex-column ">


			<ul class="navbar-nav flex-column" id="navbar-sidebar">

				<li class="nav-item"><a routerLink="/Admin" class="nav-link"><i
							class="bi bi-house fa-fw me-2"></i>Dashboard</a></li>


				<li class="nav-item ms-2 my-2">Pages</li>


				<a class="nav-link" data-bs-toggle="collapse" routerLink="/Admin/AllCourses" role="button"
					aria-expanded="true" aria-controls="collapsepage">
					<i class="bi bi-book fa-fw me-2"></i>Courses
				</a>

				<li class="nav-item"> <a class="nav-link" routerLink="/Admin/categories"><i
							class="fa fa-object-group fa-fw me-2"></i>Categories</a></li>


				<a class="nav-link" data-bs-toggle="collapse" routerLink="/Admin/Employees" role="button"
					aria-expanded="false" aria-controls="collapseinstructors">
					<i class="fas fa-user-tie fa-fw me-2"></i>Instructors
				</a>

				<li class="nav-item"> <a class="nav-link" routerLink="/Admin/AllMaterials"><i
							class="fa fa-folder fa-fw me-2" aria-hidden=" true"></i>
						Materials</a></li>
				<li class="nav-item"> <a class="nav-link" routerLink="/Admin/AllSections"><i
							class="fa fa-graduation-cap  fa-fw me-2" aria-hidden="true"></i>
						Sections</a></li>



				<li class="nav-item"> <a class="nav-link" routerLink="/Admin/contactus"><i
							class="far fa-comment-dots fa-fw me-2"></i>Messages</a></li>



				<li class="nav-item"> <a class="nav-link" routerLink="/Admin/TraineeRequest"><i
							class="fa fa-user-plus me-2"></i>Trainees Request</a></li>

				<li class="nav-item"> <a class="nav-link" routerLink="/Admin/EditProfile"><i
							class="fas fa-user-cog fa-fw me-2"></i>Admin Settings</a></li>



				<li class="nav-item"> <a class="nav-link" routerLink="/Admin/Testimonial">
						<i class="fa fa-comments" aria-hidden="true"></i>
						Testimonials Request</a></li>

				<li class="nav-item"> <a class="nav-link" routerLink="/Admin/registerd">
						<i class="fa fa-users" aria-hidden="true"></i>

						Registerd User</a></li>

				<li class="nav-item">
					<a class="nav-link" data-bs-toggle="collapse" href="#collapseauthentication" role="button"
						aria-expanded="false" aria-controls="collapseauthentication">
						<i class="bi bi-lock fa-fw me-2"></i>Manage pages
					</a>

					<ul class="nav collapse flex-column" id="collapseauthentication" data-bs-parent="#navbar-sidebar">
						<li class="nav-item"> <a class="nav-link" routerLink="/Admin/Update-Home">Home page</a></li>
						<li class="nav-item"> <a class="nav-link" routerLink="/Admin/Update-About">Aboutus page</a></li>


					</ul>
				</li>


			</ul>

		</div>
	</div>
</nav>
