<app-admin-side-bar></app-admin-side-bar>
<!-- Page content START -->

<div class="page-content">
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#76BDF5" type="line-scale-party" [fullScreen]="true">
  </ngx-spinner>
    <!-- Top bar START -->
    <app-admin-header></app-admin-header>
    <!-- Top bar END -->

    <!-- Page main content START -->
    <div class="page-content-wrapper border">

        <!-- Title -->
        <div class="row mb-3">
            <div class="col-12 d-sm-flex justify-content-between align-items-center">
                <h1 class="h3 mb-2 mb-sm-0">Registered Users</h1>
                
            </div>
        </div>

        <!-- Course boxes START -->
        <div class="row g-4 mb-4">
            <!-- Course item -->
            <div class="col-sm-6 col-lg-4">
                <div class="text-center p-4 bg-primary bg-opacity-10 border border-primary rounded-3">
                    <h5>Total Admins</h5>
                    <h2 class="mb-0 fs-1 text-primary">{{ this.totalAdmins}}</h2>
                </div>
            </div>

            <!-- Course item -->
            <div class="col-sm-6 col-lg-4">
                <div class="text-center p-4 bg-success bg-opacity-10 border border-success rounded-3">
                    <h6>Total Trainers</h6>
                    <h2 class="mb-0 fs-1 text-success">{{ this.totalTrainers }}</h2>
                </div>
            </div>

            <!-- Course item -->
            <div class="col-sm-6 col-lg-4">
                <div class="text-center p-4  bg-warning bg-opacity-15 border border-warning rounded-3">
                    <h6>Total Trainees</h6>
                    <h2 class="mb-0 fs-1 text-warning">{{this.totalTrainees}}</h2>
                </div>
            </div>
        </div>
        <!-- Course boxes END -->

        <!-- Card START -->
        <div class="card bg-transparent border">

            <!-- Card header START -->
          
            <!-- Card header END -->

            <!-- Card body START -->
            <div class="card-body">
                <button (click)="exportexcel()" class="btn btn-success"> <i
                        class="bi bi-file-earmark-excel-fill"></i>Export to
                    Excel</button>

                <button class="btn btn-danger" style="margin-left: 20px;" (click)="MakePDF()"><i
                        class="bi bi-file-earmark-pdf-fill"></i>Download
                    PDF</button>
                <!-- Course table START -->
                <div class="table-responsive border-0 rounded-3">
                    <!-- Table START -->
                    <table class="table table-dark-gray align-middle p-4 mb-0 table-hover" id="excel-table">
                        <!-- Table head -->
                        <thead>
                            <tr>
                                <th scope="col" class="border-0 rounded-start" style=" background-color:#1d3b53 ;">First Name</th>
                                <th scope="col" class="border-0" style=" background-color:#1d3b53 ;">Last Name</th>
                                <th scope="col" class="border-0" style=" background-color:#1d3b53 ;">Phone Number</th>
                                <th scope="col" class="borded-0" style=" background-color:#1d3b53 ;">Account Type</th>
                                <th scope="col" class="border-0" style=" background-color:#1d3b53 ;">User Name</th>

                                <!-- <th scope="col" class="border-0 rounded-end" style=" background-color:#1d3b53 ;">Action</th> -->
                            </tr>
                        </thead>

                        <!-- Table body START -->
                        <tbody>

                            <!-- Table row -->
                            <tr *ngFor="let item of RegisterUser.Registers">
                                <!-- Table data -->


                                <!-- Table data -->
                                <td>
                                    <div class="d-flex align-items-center mb-3">

                                        <div class="ms-2">
                                            <h4 class="mb-0 fw-light">{{ item.firstname }}</h4>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center mb-3">

                                        <div class="ms-2">
                                            <h4 class="mb-0 fw-light">{{ item.lastname }}</h4>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center mb-3">

                                        <div class="ms-2">
                                            <h4 class="mb-0 fw-light">{{ item.phonenumber }}</h4>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <div class="d-flex align-items-center mb-3">

                                        <div class="ms-2" *ngIf="item.roleId == 2">
                                            <h4 class="mb-0 fw-light">Trainee</h4>
                                        </div>
                                        <div class="ms-2" *ngIf="item.roleId == 3">
                                            <h4 class="mb-0 fw-light">Trainer</h4>
                                        </div>
                                        <div class="ms-2" *ngIf="item.roleId == 1">
                                            <h4 class="mb-0 fw-light">Admin</h4>
                                        </div>
                                    </div>
                                </td>


                                <td>
                                    <div class="d-flex align-items-center position-relative">
                                        <!-- <div class="col-md-6">
                                            <img src="../../../assets/HomeAssets/images/courses/4by3/01.jpg" class="rounded" alt="">
                                        </div> -->
                                        <!-- Title -->
                                        <!-- <div class="w-80px">
                                            <img src="../../../assets/HomeAssets/images/{{item.}}"
                                                class="rounded" alt="">
                                        </div> -->
                                        <h4 class="table-responsive-title mb-0 ms-2">
                                            <a href="#" class="stretched-link">{{ item.username }}</a>
                                        </h4>
                                    </div>
                                </td>
                                <!-- <td>

                                    <button class="btn btn-sm btn-danger-soft mb-0"
                                        *ngIf="item.roleId==2 || item.roleId==3">Delete</button>

                                    <button class="btn btn-sm btn-primary-soft mb-0"
                                        *ngIf="item.roleId==2 || item.roleId==3">Update</button>
                                </td> -->
                            </tr>


                        </tbody>
                        <!-- Table body END -->
                    </table>
                    <!-- Table END -->
                </div>
                <!-- Course table END -->
            </div>
            <!-- Card body END -->

            <!-- Card footer START -->
            
            <!-- Card footer END -->
        </div>
        <!-- Card END -->
    </div>
    <!-- Page main content END -->

</div>
<!-- Page content END -->
