<app-admin-side-bar></app-admin-side-bar>

<!-- Page content START -->
<div class="page-content">
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="wheat" type="square-jelly-box" [fullScreen]="true">
        <p style="color: wheat"> Waiting... </p>
    </ngx-spinner>
    <!-- Top bar START -->
    <app-admin-header></app-admin-header>
    <!-- Top bar END -->

    <!-- Page main content START -->
    <div class="page-content-wrapper border">

        <!-- Title -->
        <div class="row mb-3">
            <div class="col-12 d-sm-flex justify-content-between align-items-center">
                <h1 class="h3 mb-2 mb-sm-0">Materials</h1>
                <!-- <a class="btn btn-sm btn-primary mb-0" (click)="OpenDialog()">Create a material</a> -->
            </div>
        </div>

        <!-- Course boxes START -->
        <div class="row g-4 mb-4">
            <!-- Course item -->
            <div class="col-sm-6 col-lg-4">
                <div class="text-center p-4 bg-primary bg-opacity-10 border border-primary rounded-3">
                    <h5>Total Materials</h5>
                    <h2 class="mb-0 fs-1 text-primary">{{ this.materialService.materials.length }}</h2>
                </div>
            </div>

            <!-- Course item -->
            <div class="col-sm-6 col-lg-4">
                <div class="text-center p-4 bg-success bg-opacity-10 border border-success rounded-3">
                    <h6>Activated Courses</h6>
                    <h2 class="mb-0 fs-1 text-success">996</h2>
                </div>
            </div>

            <!-- Course item -->
            <div class="col-sm-6 col-lg-4">
                <div class="text-center p-4  bg-warning bg-opacity-15 border border-warning rounded-3">
                    <h6>Pending Courses</h6>
                    <h2 class="mb-0 fs-1 text-warning">200</h2>
                </div>
            </div>
        </div>
        <!-- Course boxes END -->

        <!-- Card START -->
        <div class="card bg-transparent border">

            <!-- Card header START -->
            <div class="card-header bg-light border-bottom">
                <!-- Search and select START -->
                <div class="row g-3 align-items-center justify-content-between">
                    <!-- Search bar -->
                    <!-- <div class="col-md-8">
                        <form class="rounded position-relative">
                            <input class="form-control bg-body" type="search" placeholder="Search" aria-label="Search">
                            <button
                                class="bg-transparent p-2 position-absolute top-50 end-0 translate-middle-y border-0 text-primary-hover text-reset"
                                type="submit">
                                <i class="fas fa-search fs-6 "></i>
                            </button>
                        </form>
                    </div> -->
                    <form class="rounded position-relative">
                        <mat-form-field appearance="fill" style="width: 25%; margin-right: 2rem;">
                            <mat-label>Date From</mat-label>
                            <input matInput [matDatepicker]="picker1" [(ngModel)]="startDate" name="startDate">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field appearance="fill" style="width: 25%;">
                            <mat-label>Date To</mat-label>
                            <input matInput [matDatepicker]="picker2" [(ngModel)]="endDate" name="endDate">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>

                        <button mat-raised-button color="primary" style="margin-left: 2rem;"
                            (click)="searchBetweenInterval()" class="btn btn-info" style=" background-color:#1d3b53 ;">Search</button>
                    </form>


                    <!-- Select option -->

                </div>
                <!-- Search and select END -->
            </div>
            <!-- Card header END -->

            <!-- Card body START -->
            <div class="card-body">
             
                <!-- Course table START -->
                <div class="table-responsive border-0 rounded-3">
                    <!-- Table START -->
                    <table class="table table-dark-gray align-middle p-4 mb-0 table-hover">
                        <!-- Table head -->
                        <thead>
                            <tr>
                                <th scope="col" class="border-0" style=" background-color:#1d3b53 ;">Material Name</th>
                                <th scope="col" class="border-0 " style=" background-color:#1d3b53 ;">Date Uploaded</th>
                                <th scope="col" class="border-0 " style=" background-color:#1d3b53 ;">Section ID</th>
                                <th scope="col" class="border-0 rounded-end" style=" background-color:#1d3b53 ;">Action</th>
                            </tr>
                        </thead>

                        <!-- Table body START -->
                        <tbody>

                            <!-- Table row -->
                            <tr *ngFor="let item of materialService.materials">


                                <!-- Table data -->
                                <td>
                                    <div class="d-flex align-items-center mb-3">

                                        <!-- Info -->
                                        <div class="ms-2">
                                            <h4 class="mb-0 fw-light">{{ item.materialname }}</h4>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center mb-3">

                                        <!-- Info -->
                                        <div class="ms-2">
                                            <h4 class="mb-0 fw-light">{{ item.dateuploaded | slice:0:10 }}</h4>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center mb-3">

                                        <!-- Info -->
                                        <div class="ms-2">
                                            <h4 class="mb-0 fw-light">{{ item.section_Id }}</h4>
                                        </div>
                                    </div>
                                </td>



                                <td>
                                    <button class="btn btn-sm btn-danger-soft mb-0"
                                        (click)="openDeleteDialog(item.materialid)">Delete</button>
                                </td>
                            </tr>


                        </tbody>
                        <!-- Table body END -->
                    </table>
                    <!-- Table END -->
                </div>
                <!-- Course table END -->
            </div>
            <!-- Card body END -->

            <!-- Card footer START -->
            <div class="card-footer bg-transparent pt-0">
                <!-- Pagination START -->
                <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
                    <!-- Content -->
                    <p class="mb-0 text-center text-sm-start">Showing 1 to 8 of 20 entries</p>
                    <!-- Pagination -->
                    <nav class="d-flex justify-content-center mb-0" aria-label="navigation">
                        <ul
                            class="pagination pagination-sm pagination-primary-soft d-inline-block d-md-flex rounded mb-0">
                            <li class="page-item mb-0"><a class="page-link" href="#" tabindex="-1"><i
                                        class="fas fa-angle-left"></i></a></li>
                            <li class="page-item mb-0"><a class="page-link" href="#">1</a></li>
                            <li class="page-item mb-0 active"><a class="page-link" href="#">2</a></li>
                            <li class="page-item mb-0"><a class="page-link" href="#">3</a></li>
                            <li class="page-item mb-0"><a class="page-link" href="#"><i
                                        class="fas fa-angle-right"></i></a></li>
                        </ul>
                    </nav>
                </div>
                <!-- Pagination END -->
            </div>
            <!-- Card footer END -->
        </div>
        <!-- Card END -->
    </div>
    <!-- Page main content END -->

</div>
<a class="btn btn-success-soft" href="#">Create Category</a>
<!-- Page content END -->

<ng-template #DeleteForm>
    <h2 mat-dialog-content>Would you like to Delete this course ?</h2>
    <div mat-dialog-actions>
        <input type="button" mat-dialog-close class="btn btn-success" value="Yes" (click)="DeleteMaterial()">
        <input type="button" mat-dialog-close class="btn btn-error" value="No">
    </div>
</ng-template>

<ng-template #CreateForm>
    <form [formGroup]="CreateMaterialForm" class="example-form">
        <!-- <input type="file" #file (change)="UploadImage(file)"> -->
        <div>
            <mat-form-field class="example-full-width">
                <mat-label>Section Id</mat-label>
                <input type="number" matInput formControlName="section_Id">

                <mat-error *ngIf="CreateMaterialForm.controls['section_Id'].hasError('required')">
                    CategoryId is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="example-full-width">
                <mat-label>Material Name</mat-label>
                <input type="text" matInput formControlName="materialname">

                <mat-error *ngIf="CreateMaterialForm.controls['materialname'].hasError('required')">
                    price is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <!--  <mat-form-field class="example-full-width">
      <mat-label>start_Date</mat-label>
      <input type="date" matInput formControlName="dateuploaded" >

      <mat-error *ngIf="CreateMaterialForm.controls['dateuploaded'].hasError('required')">
        start_Date is <strong>required</strong>
      </mat-error>
    </mat-form-field> -->


            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dateuploaded">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <div><input type="button" [disabled]="CreateMaterialForm.invalid" mat-dialog-close value="create"
                (click)="CreateMaterial()"></div>
    </form>





</ng-template>

<ng-template #Search>
    <div class="card-body">
        <!-- Course table START -->
        <div class="table-responsive border-0 rounded-3">
            <table class="table table-dark-gray align-middle p-4 mb-0 table-hover" style="background-color: #3e3e40;">
                <!-- Table head -->
                <thead>
                    <tr>
                        <th scope="col" class="border-0">Material Name</th>
                        <th scope="col" class="border-0 rounded-end">Date Uploaded</th>
                        <th scope="col" class="border-0 rounded-end">Section ID</th>
                        <th scope="col" class="border-0 rounded-end">Action</th>
                    </tr>
                </thead>
                <!-- Table body START -->
                <tbody>
                    <!-- Table row -->
                    <tr *ngFor="let item of materialService.searchedMat">

                        <!-- Table data -->
                        <td>
                            <div class="d-flex align-items-center mb-3">
                                <!-- Info -->
                                <div class="ms-2">
                                    <h4 class="mb-0 fw-light">{{ item.materialname }}</h4>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex align-items-center mb-3">
                                <!-- Info -->
                                <div class="ms-2">
                                    <h4 class="mb-0 fw-light">{{ item.dateuploaded }}</h4>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex align-items-center mb-3">
                                <!-- Info -->
                                <div class="ms-2">
                                    <h4 class="mb-0 fw-light">{{ item.section_Id }}</h4>
                                </div>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-sm btn-danger-soft mb-0"
                                (click)="openDeleteDialog(item.materialid)">Delete</button>
                        </td>
                    </tr>
                </tbody>
                <!-- Table body END -->
            </table>
        </div>
    </div>
</ng-template>