<app-home-header></app-home-header>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#76BDF5" type="line-scale-party" [fullScreen]="true">
</ngx-spinner>

<div class="card shadow p-2">
	<div class="row g-0">
		<!-- Image -->
		<div class="col-md-4">
			<img src="../../../assets/HomeAssets/assets/images/instructor/01.jpg" class="img-fluid rounded-3" alt="...">
		</div>

		<!-- Card body -->
		<div class="col-md-8">
			<div class="card-body">
				<!-- Title -->
				<div class="d-sm-flex justify-content-sm-between mb-2 mb-sm-3">
					<div>
						<h5 class="card-title mb-0"><a href="#">Dennis Barrett</a></h5>
						<p class="small mb-2 mb-sm-0">Professor at Sigma College</p>
					</div>
					<span class="text-dark">4.3<i class="fas fa-star text-warning ms-1"></i></span>
				</div>
				<!-- Content -->
				<p class="text-truncate-2 mb-3">Perceived end knowledge certainly day sweetness why cordially. Ask a
					quick six seven offer see among.</p>
				<!-- Info -->
				<div class="d-sm-flex justify-content-sm-between align-items-center">
					<!-- Title -->
					<h6 class="text-orange mb-0">Digital Marketing</h6>

					<!-- Social button -->
					<ul class="list-inline mb-0 social-media-btn mt-3 mt-sm-0">
						<li class="list-inline-item">
							<a class="mb-0 me-1 text-facebook" href="#"><i class="fab fa-fw fa-facebook-f"></i></a>
						</li>
						<li class="list-inline-item">
							<a class="mb-0 me-1 text-instagram-gradient" href="#"><i
									class="fab fa-fw fa-instagram"></i></a>
						</li>
						<li class="list-inline-item">
							<a class="mb-0 me-1 text-twitter" href="#"><i class="fab fa-fw fa-twitter"></i></a>
						</li>
						<li class="list-inline-item">
							<a class="mb-0 text-linkedin" href="#"><i class="fab fa-fw fa-linkedin-in"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<app-home-footer></app-home-footer>
