<app-admin-side-bar></app-admin-side-bar>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "wheat" type = "square-jelly-box" [fullScreen] = "true"><p style="color: wheat" > Waiting... </p></ngx-spinner>

<section class="py-0 bg-blue h-100px align-items-center d-flex h-200px rounded-0" style="background:url(../../../assets/HomeAssets/images/pattern/04.png) no-repeat center center; background-size:cover;">
	<!-- Main banner background image -->
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<!-- Title -->
				<h1 class="text-white">Submit a new Course</h1>
			</div>
		</div>
	</div>
</section>

<section style="background-color:#2a2c31">
	<div class="container">
		<div class="row">
			<div class="col-md-8 mx-auto text-center">
				<!-- Content -->
			</div>
		</div>

		<div class="card bg-transparent border rounded-3 mb-5">
			<div id="stepper" class="bs-stepper stepper-outline">


				<!-- Card body START -->
				<div class="card-body">
					<!-- Step content START -->
					<div class="bs-stepper-content">
						<form [formGroup]="CreateForm">

							<!-- Step 1 content START -->

								<!-- Title -->
								<h4>Course details</h4>

								<hr> <!-- Divider -->

								<!-- Basic information START -->
								<div class="row g-4">
									<!-- Course title -->
									<div>
                    <mat-form-field class="example-full-width">
                      <mat-label>CourseName</mat-label>
                      <input type="text" matInput formControlName="coursename">
                      <mat-error *ngIf="CreateForm.controls['coursename'].hasError('required')">
                        Course Name is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>

									<!-- Short description -->
									<div class="col-12">
										<mat-form-field class="example-full-width">
                      <mat-label>course Description</mat-label>
                      <input type="text" matInput formControlName="coursedescription">
                      <mat-error *ngIf="CreateForm.controls['coursedescription'].hasError('required')">
                        course Description is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
									</div>

									<!-- Course category -->
									<!-- <div class="col-md-6">
										<label class="form-label">Course category</label>
										<select class="form-select js-choice border-0 z-index-9 bg-transparent" aria-label=".form-select-sm" data-search-enabled="true">
											<option value="">Select category</option>
											<option>Engineer</option>
											<option>Medical</option>
											<option>Information technology</option>
											<option>Finance</option>
											<option>Marketing</option>
										</select>
									</div> -->
                  <div class="col-12">
										<mat-form-field class="example-full-width">
                      <mat-label>course Image</mat-label>
                      <input type="text" matInput formControlName="courseimage">
                      <mat-error *ngIf="CreateForm.controls['courseimage'].hasError('required')">
                        course image is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
									</div>

									<!-- Course level -->
									<div class="col-md-6">
										<!-- <label class="form-label">Course level</label>
										<select class="form-select js-choice border-0 z-index-9 bg-transparent" aria-label=".form-select-sm" data-search-enabled="false" data-remove-item-button="true">
											<option value="">Select course level</option>
											<option>All level</option>
											<option>Beginner</option>
											<option>Intermediate</option>
											<option>Advance</option>
										</select> -->
                    <mat-form-field class="example-full-width">
                      <mat-label>course level</mat-label>
                      <input type="number" matInput formControlName="courselevel">
                      <mat-error *ngIf="CreateForm.controls['courselevel'].hasError('required')">
                        course level is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
									</div>
                  <div class="col-12">
										<mat-form-field class="example-full-width">
                      <mat-label>category_Id</mat-label>
                      <input type="number" matInput formControlName="category_Id">
                      <mat-error *ngIf="CreateForm.controls['category_Id'].hasError('required')">
                        category_Id is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
									</div>




									<!-- Step 1 button -->
									<div class="d-flex justify-content-end mt-3">
										<input class="btn btn-primary" type="button" [disabled]="CreateForm.invalid" value="Create" (click)="CreateCourse()">
									</div>
								</div>
								<!-- Basic information START -->

							<!-- Step 1 content END -->
						</form>
					</div>
				</div>
				<!-- Card body END -->
			</div>
		</div>
	</div>
</section>
<!-- =======================
Steps END -->
