<app-admin-side-bar></app-admin-side-bar>
<!-- Page content START -->
<div class="page-content">

	<!-- Top bar START -->
	<app-admin-header></app-admin-header>
	<!-- Top bar END -->

	<!-- Page main content START -->
	<div class="page-content-wrapper border">

		<!-- Title -->
		<div class="row mb-3">
			<div class="col-12 d-sm-flex justify-content-between align-items-center">
				<h1 class="h3 mb-2 mb-sm-0">Sections</h1>
				<a (click)="OpenDialog()" class="btn btn-sm btn-primary mb-0">Create a Section</a>
			</div>
		</div>

		<!-- Course boxes START -->
		<div class="row g-4 mb-4">
			<!-- Course item -->
			<div class="col-sm-6 col-lg-4">
				<div class="text-center p-4 bg-primary bg-opacity-10 border border-primary rounded-3">
					<h5>Total Sections</h5>
					<h2 class="mb-0 fs-1 text-primary">{{ this.sectionService.sections.length }}</h2>
				</div>
			</div>

			<!-- Course item -->
			<div class="col-sm-6 col-lg-4">
				<div class="text-center p-4 bg-success bg-opacity-10 border border-success rounded-3">
					<h6>Activated Sections</h6>
					<h2 class="mb-0 fs-1 text-success">996</h2>
				</div>
			</div>

			<!-- Course item -->
			<div class="col-sm-6 col-lg-4">
				<div class="text-center p-4  bg-warning bg-opacity-15 border border-warning rounded-3">
					<h6>Pending Sections</h6>
					<h2 class="mb-0 fs-1 text-warning">200</h2>
				</div>
			</div>
		</div>
		<!-- Course boxes END -->

		<!-- Card START -->
		<div class="card bg-transparent border">

			<!-- Card header START -->
			<div class="card-header bg-light border-bottom">
				<!-- Search and select START -->
				<div class="row g-3 align-items-center justify-content-between">
					<!-- Search bar -->
					<div class="col-md-8">
						<form class="rounded position-relative">
							<input class="form-control bg-body" type="search" placeholder="Search" aria-label="Search">
							<button
								class="bg-transparent p-2 position-absolute top-50 end-0 translate-middle-y border-0 text-primary-hover text-reset"
								type="submit">
								<i class="fas fa-search fs-6 "></i>
							</button>
						</form>
					</div>

					<!-- Select option -->

				</div>
				<!-- Search and select END -->
			</div>
			<!-- Card header END -->

			<!-- Card body START -->
			<div class="card-body">
				<button (click)="exportexcel()" class="btn btn-success"> <i
						class="bi bi-file-earmark-excel-fill"></i>Export Student
					Information</button>
				<!-- Course table START -->
				<div class="table-responsive border-0 rounded-3">
					<!-- Table START -->
					<table class="table table-dark-gray align-middle p-4 mb-0 table-hover">
						<!-- Table head -->
						<thead >
							<tr>
								<th scope="col" class="border-0 rounded-start" style=" background-color:#1d3b53 ;">Section </th>
								<th scope="col" class="border-0"style=" background-color:#1d3b53 ;">Trainer </th>
								<th scope="col" class="border-0"style=" background-color:#1d3b53 ;">StartDate</th>


								<th scope="col" class="border-0 rounded-end" style="margin-left: 30px;"style=" background-color:#1d3b53 ;">Action</th>

							</tr>
						</thead>

						<!-- Table body START -->
						<tbody>

							<!-- Table row -->
							<tr *ngFor="let item of compinedSections">
								<!-- Table data -->
								<td>
									<div class="d-flex align-items-center position-relative">
										<!-- Image -->
										<div class="w-60px">
											<img src="../../../assets/HomeAssets/images/courses/4by3/08.jpg"
												class="rounded" alt="">
										</div>
										<!-- Title -->
										<h4 class="table-responsive-title mb-0 ms-2">
											<a (click)="openDetailsDialog(item.sectionid)" class="stretched-link">{{ item.coursename }}</a>
										</h4>
									</div>
								</td>

								<!-- Table data -->
								<td>
									<div class="d-flex align-items-center mb-3">

										<!-- Info -->
										<div class="ms-2">
											<h4 class="mb-0 fw-light">{{ item[0].firstname }}</h4>
										</div>
									</div>
								</td>


								<!-- Table data -->
								<td> <span class="badge text-bg-primary"></span>{{ item.startdate | slice: 0:10 }} </td>




								<!-- Table data -->
								<td>

									<button (click)="openDetailsDialog(item.sectionid)"
										class="btn btn-sm btn-info-soft mb-0">Details</button>
									<button (click)="openDeleteDialog(item.sectionid)"
										class="btn btn-sm btn-danger-soft mb-0"
										style="margin-left: 15px;">Delete</button>
									<button (click)="openUpdateDialog(item.sectionid)"
										class="btn btn-sm btn-warning-soft mb-0"
										style="margin-left: 15px;">Update</button>

									<button *ngIf="sliceDate(item.enddate) < this.currentDate"
										(click)="GenerateCertificate(item.sectionid)"
										class="btn btn-sm btn-success-soft mb-0" style="margin-left: 15px;">Generate
										Certificate</button>

									<button (click)="OpenImportDialog(item.sectionid)"
										class="btn btn-sm btn-info-soft mb-0" style="margin-left: 15px;">Import
										Trainee Information</button>
								</td>

							</tr>


						</tbody>
						<!-- Table body END -->
					</table>

					<table hidden id="excel-table">
						<thead>
							<tr>
								<th>traineeid</th>
								<th>firstname</th>
								<th>lastname</th>
								<th>address</th>
								<th>phonenumber</th>
								<th>university</th>
								<th>major</th>
								<th>traineefield</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let item of traineeServie.AcceptedTrainee">
								<td>{{item.traineeid}}</td>
								<td>{{item.firstname}}</td>
								<td>{{item.lastname}}</td>
								<td>{{item.address}}</td>
								<td>{{item.phonenumber}}</td>
								<td>{{item.university}}</td>
								<td>{{item.major}}</td>
								<td>{{item.traineefield}}</td>
							</tr>
						</tbody>
					</table>
					<!-- Table END -->
				</div>
				<!-- Course table END -->
			</div>
			<!-- Card body END -->

			<!-- Card footer START -->

			<!-- Card footer END -->
		</div>
		<!-- Card END -->
	</div>
	<!-- Page main content END -->

</div>
<!-- Page content END -->


<ng-template #DeleteForm>
	<h2 mat-dialog-content>Would you like to Delete this Section ?</h2>
	<div mat-dialog-actions>
		<input type="button" mat-dialog-close class="btn btn-success" value="Yes" (click)="DeleteSection()">
		<input type="button" mat-dialog-close class="btn btn-error" value="No">
	</div>
</ng-template>
<ng-template #CreateSection>

	<section class="py-0 bg-blue h-100px align-items-center d-flex h-100px rounded-0"
		style="background:url(../../../assets/HomeAssets/images/pattern/04.png) no-repeat center center; background-size:cover;">
		<!-- Main banner background image -->
		<div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<!-- Title -->
					<h1 class="text-white">Submit a new Section</h1>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-8 mx-auto text-center">
					<!-- Content -->
				</div>
			</div>

			<div class="card bg-transparent border rounded-3 mb-5">
				<div id="stepper" class="bs-stepper stepper-outline">


					<!-- Card body START -->
					<div class="card-body">
						<!-- Step content START -->
						<div class="bs-stepper-content">
							<form [formGroup]="CreateForm">

								<!-- Step 1 content START -->

								<!-- Title -->
								<h4>Section details</h4>

								<hr> <!-- Divider -->

								<!-- Basic information START -->

								<!-- Course title -->
								<div class="row mb-3">
                  <label for="start-time" class="col-sm-3 col-form-label">Start Time</label>
                  <div class="col-sm-9">
                    <input type="time" id="start-time" name="start-time" class="form-control form-control-lg" formControlName="starttime" step="60">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="end-time" class="col-sm-3 col-form-label">End Time</label>
                  <div class="col-sm-9">
                    <input type="time" id="end-time" name="end-time" class="form-control form-control-lg" formControlName="endtime" step="60">
                  </div>
                </div>

								<div class="row g-4">
									<mat-form-field appearance="fill">
										<mat-label>Start Date</mat-label>
										<input matInput [matDatepicker]="picker3" formControlName='startdate'
											name="startDate">
										<mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
										<mat-datepicker #picker3></mat-datepicker>
									</mat-form-field>
								</div>
								<div class="row g-4">
									<mat-form-field appearance="fill">
										<mat-label>End Date</mat-label>
										<input matInput [matDatepicker]="picker4" formControlName='enddate'
											name="startDate">
										<mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
										<mat-datepicker #picker4></mat-datepicker>
									</mat-form-field>
								</div>

								<div class="col-12">
									<mat-form-field class="example-full-width">
										<mat-label>Meeting Url</mat-label>
										<input type="text" matInput formControlName='meetingurl'>
										<mat-error *ngIf="CreateForm.controls['meetingurl'].hasError('required')">
											Meeting Url is <strong>required</strong>
										</mat-error>
									</mat-form-field>
								</div>
								<div class="col-12">
									<mat-form-field class="example-full-width">
										<mat-label>Section Capacity</mat-label>
										<input type="number" matInput formControlName='sectioncapacity' min="5">
										<mat-error *ngIf="CreateForm.controls['sectioncapacity'].hasError('required')">
											Section Capacity is <strong>required</strong>
										</mat-error>
									</mat-form-field>
								</div>

										<!-- Course level -->
										<div class="col-12">
											<mat-form-field appearance="fill">
												<mat-label>Select Course</mat-label>
												<mat-select formControlName="course_Id" [(ngModel)]="selectedCourse">
												  <mat-option *ngFor="let course of courseService.courses" [value]="course.courseid" >
													{{course.coursename}}

												  </mat-option>
												</mat-select>
											  </mat-form-field>
										</div>
										<div class="col-12">
										<mat-form-field appearance="fill">
											<mat-label>Select Triner</mat-label>
											<mat-select formControlName="trainer_Id" [(ngModel)]="selectedTrainer">
												<mat-option *ngFor="let trainer of combinedArray" [value]="trainer.trainerid" >
													{{ trainer.email }}
												  </mat-option>
											  </mat-select>
										  </mat-form-field>
										</div>




								<!-- Step 1 button -->
								<div class="d-flex justify-content-end mt-3">
									<button class="btn btn-primary" mat-dialog-close [disabled]="CreateForm.invalid"
										value="Create" (click)="CreateSections()">Create</button>
								</div>

								<!-- Basic information START -->

								<!-- Step 1 content END -->
							</form>
						</div>
					</div>
					<!-- Card body END -->
				</div>
			</div>
		</div>
	</section>

</ng-template>
<ng-template #UpdateSection>
	<section class="py-0 bg-blue h-100px align-items-center d-flex h-200px rounded-0"
		style="background:url(../../../assets/HomeAssets/images/pattern/04.png) no-repeat center center; background-size:cover;">
		<!-- Main banner background image -->
		<div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<!-- Title -->
					<h1 class="text-white">Update Section</h1>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="container">


			<div class="card bg-transparent border rounded-3 mb-5">
				<div id="stepper" class="bs-stepper stepper-outline">


					<!-- Card body START -->
					<div class="card-body">
						<!-- Step content START -->
						<div class="bs-stepper-content">


							<!-- Step 1 content START -->
							<div id="step-1" role="tabpanel" class="content" aria-labelledby="steppertrigger1">
								<!-- Title -->
								<h4>Update Section </h4>

								<hr> <!-- Divider -->

								<!-- Basic information START -->
								<div class="row g-4">
									<!-- Course title -->
									<div class="col-12">
										<form [formGroup]="UpdateForm" class="example-form">
											<div class="row mb-3">
                        <label for="start-time" class="col-sm-3 col-form-label">Start Time</label>
                        <div class="col-sm-9">
                          <input type="time" id="start-time" name="start-time" class="form-control form-control-lg" formControlName="starttime" step="60">
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="end-time" class="col-sm-3 col-form-label">End Time</label>
                        <div class="col-sm-9">
                          <input type="time" id="end-time" name="end-time" class="form-control form-control-lg" formControlName="endtime" step="60">
                        </div>
                      </div>

													<div class="row g-4">
														<mat-form-field appearance="fill" >
															<mat-label>Start Date</mat-label>
															<input matInput [matDatepicker]="picker3" formControlName='startdate' name="startDate">
															<mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
															<mat-datepicker #picker3></mat-datepicker>
														  </mat-form-field>
														</div>
														<div class="row g-4">
															<mat-form-field appearance="fill" >
																<mat-label>End Date</mat-label>
																<input matInput [matDatepicker]="picker4" formControlName='enddate' name="startDate">
																<mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
																<mat-datepicker #picker4></mat-datepicker>
															  </mat-form-field>
															</div>
															<div class="col-12">
																<mat-form-field class="example-full-width">
											  <mat-label>Meeting Url</mat-label>
											  <input type="text" matInput formControlName='meetingurl'>
											  <mat-error *ngIf="UpdateForm.controls['meetingurl'].hasError('required')">
												Meeting Url is <strong>required</strong>
											  </mat-error>
											</mat-form-field>
															</div>
															<div class="col-12">
																<mat-form-field class="example-full-width">
																	<mat-label>Section Capacity</mat-label>
																	<input type="number" matInput formControlName='sectioncapacity' min="5">
																	<mat-error *ngIf="UpdateForm.controls['sectioncapacity'].hasError('required')">
																		Section Capacity is <strong>required</strong>
																	</mat-error>
																</mat-form-field>
															</div>
															<div class="col-12">
																<mat-form-field appearance="fill">
																	<mat-label>Select Course </mat-label>
																	<mat-select formControlName="course_Id" [(ngModel)]="selectedUpdatedCourse">
																	  <mat-option *ngFor="let course of courseService.courses" [value]="course.courseid" >
																		{{course.coursename}}

																	  </mat-option>
																	</mat-select>
																  </mat-form-field>
															</div>
															<div class="col-12">
																<mat-form-field appearance="fill">
																	<mat-label>Select Trainer </mat-label>
																	<mat-select formControlName="trainer_Id" [(ngModel)]="selectedUpdatedTrainer">
																		<mat-option *ngFor="let trainer of combinedArray" [value]="trainer.trainerid" >
																			{{ trainer.email }}
																		  </mat-option>
																	  </mat-select>
																  </mat-form-field>
															</div>

										</form>
									</div>





									<!-- Step 1 button -->
									<div class="d-flex justify-content-end mt-3">
										<button mat-dialog-close class="btn btn-primary next-btn mb-0"

											(click)="UpdateSectionForm()">Update</button>
									</div>
								</div>
								<!-- Basic information START -->
							</div>
							<!-- Step 1 content END -->

						</div>
					</div>
					<!-- Card body END -->
				</div>
			</div>
		</div>
	</section>
</ng-template>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#76BDF5" type="line-scale-party" [fullScreen]="true">
</ngx-spinner>
<ng-template #DetailsForm>
  <section class="py-0 bg-blue h-100px align-items-center d-flex h-200px rounded-0"
  style="background:url(../../../assets/HomeAssets/images/pattern/04.png) no-repeat center center; background-size:cover;">
  <!-- Main banner background image -->
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <!-- Title -->
        <h1 class="text-white">Section Details</h1>
      </div>
    </div>
  </div>
</section>
	<!-- Page main content START -->
	<div class="page-content-wrapper border" style="background-color: #fff">



		<div class="row g-4">

			<!-- Course information START -->
			<div class="col-xxl-12">
				<div class="card bg-transparent border rounded-3 h-100">
					<!-- Card body START -->
					<div class="card-body">

						<!-- Course image and info START -->
						<div class="row g-4">
							<!-- Course image -->

							<!-- Course info and avatar -->
							<div class="col-md-6">
								<h3>Start Time : {{this.sectionService.section.starttime}}</h3>
                <hr>
								<!-- Info -->
								<h3 class="mb-3">End Time : {{this.sectionService.section.endtime}}</h3>
                <hr>
								<h3 class="mb-3">Start Date : {{this.sectionService.section.startdate}}</h3>
                <hr>
								<h3 class="mb-3">End Date : {{this.sectionService.section.enddate}}</h3>
                <hr>
							</div>
						</div>
						<!-- Course image and info END -->

						<!-- Information START -->
						<div class="row mt-3">
							<h3 class="mb-3">Section Capacity : {{this.sectionService.section.sectioncapacity}}</h3>
              <hr>
							<h3 class="mb-3"><a class="btn btn-info" target="_blank" href="{{ this.sectionService.section.meetingurl }}">Meeting Url</a></h3>
              <hr>
							<h3 class="mb-3">Course : {{this.sectionService.section.course_Id}}</h3>
              <hr>
							<h3 class="mb-3">Trainer: {{this.sectionService.section.trainer_Id}}</h3>


						</div>
						<!-- Information END -->
					</div>
					<!-- Card body END -->
				</div>
			</div>
			<!-- Course information END -->


			<!-- Student review END -->

		</div> <!-- Row END -->
	</div>
</ng-template>


<ng-template #ImportForm>
	<app-admin-side-bar></app-admin-side-bar>
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#76BDF5" type="line-scale-party" [fullScreen]="true">
  </ngx-spinner>

	<section class="py-0 bg-blue h-100px align-items-center d-flex h-200px rounded-0"
		style="background:url(../../../assets/HomeAssets/images/pattern/04.png) no-repeat center center; background-size:cover;">
		<!-- Main banner background image -->
		<div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<!-- Title -->
					<h1 class="text-white">Add trainee information</h1>
				</div>
			</div>
		</div>
	</section>

	<section style="background-color:#2a2c31">
		<div class="container">
			<div class="row">
				<div class="col-md-8 mx-auto text-center">
					<!-- Content -->
				</div>
			</div>

			<div class="card bg-transparent border rounded-3 mb-5">
				<div id="stepper" class="bs-stepper stepper-outline">


					<!-- Card body START -->
					<div class="card-body">
						<!-- Step content START -->
						<div class="bs-stepper-content">
							<form>

								<div class="col-12">
									<div
										class="text-center justify-content-center align-items-center p-4 p-sm-5 border border-2 border-dashed position-relative rounded-3">
										<!-- Image -->
										<img src="assets/images/element/gallery.svg" class="h-50px" alt="">
										<div>
											<h6 class="my-2">Upload Cayrgory image here, or<a href="#!"
													class="text-primary"> Browse</a></h6>
											<label style="cursor:pointer;">
												<span>

													<input class="form-control stretched-link" type="file"
														name="my-image" id="image" (change)="onFileSelected($event)" />
												</span>
											</label>

										</div>
									</div>
								</div>


								<div class="d-flex justify-content-end mt-3">
									<button class="btn btn-primary" type="submit" (click)="InsertData()">Upload</button>
								</div>
							</form>
						</div>


					</div>
				</div>
				<!-- Card body END -->
			</div>

		</div>

	</section>
	<!-- =======================
Steps END -->

</ng-template>
