<app-admin-side-bar></app-admin-side-bar>
<main>
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#76BDF5" type="line-scale-party" [fullScreen]="true">
  </ngx-spinner>
    <div class="page-content">

        <!-- Top bar START -->
        <app-admin-header></app-admin-header>
        <!-- Top bar END -->

        <!-- Page main content START -->
        <div class="page-content-wrapper border">

            <!-- Title -->
            <div class="row">
                <div class="col-12 mb-3">
                    <h1 class="h3 mb-2 mb-sm-0">Dashboard</h1>
                </div>
            </div>

            <!-- Counter boxes START -->
            <div class="row g-4 mb-4">
                <!-- Counter item -->
                <div class="col-md-6 col-xxl-3">
                    <div class="card card-body bg-warning bg-opacity-15 p-4 h-100">
                        <div class="d-flex justify-content-between align-items-center">
                            <!-- Digit -->
                            <div>
                                <h2 class="purecounter mb-0 fw-bold" data-purecounter-start="0"
                                    data-purecounter-end="1958" data-purecounter-delay="200">{{this.tcourse}}</h2>
                                <span class="mb-0 h6 fw-light">Courses</span>
                            </div>
                            <!-- Icon -->
                            <div class="icon-lg rounded-circle bg-warning text-white mb-0"><i
                                    class="fas fa-tv fa-fw"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Counter item -->
                <div class="col-md-6 col-xxl-3">
                    <div class="card card-body bg-purple bg-opacity-10 p-4 h-100">
                        <div class="d-flex justify-content-between align-items-center">
                            <!-- Digit -->
                            <div>
                                <h2 class="purecounter mb-0 fw-bold" data-purecounter-start="0"
                                    data-purecounter-end="1600" data-purecounter-delay="200">{{this.totalTrainers}}</h2>
                                <span class="mb-0 h6 fw-light">Trainers</span>
                            </div>
                            <!-- Icon -->
                            <div class="icon-lg rounded-circle bg-purple text-white mb-0"><i
                                    class="fas fa-user-tie fa-fw"></i></div>
                        </div>
                    </div>
                </div>

                <!-- Counter item -->
                <div class="col-md-6 col-xxl-3">
                    <div class="card card-body bg-primary bg-opacity-10 p-4 h-100">
                        <div class="d-flex justify-content-between align-items-center">
                            <!-- Digit -->
                            <div>
                                <h2 class="purecounter mb-0 fw-bold" data-purecounter-start="0"
                                    data-purecounter-end="1235" data-purecounter-delay="200">{{this.totalTrainees}}</h2>
                                <span class="mb-0 h6 fw-light">Trainees</span>
                            </div>
                            <!-- Icon -->
                            <div class="icon-lg rounded-circle bg-primary text-white mb-0"><i
                                    class="fas fa-user-graduate fa-fw"></i></div>
                        </div>
                    </div>
                </div>

                <!-- Counter item -->
                <div class="col-md-6 col-xxl-3">
                    <div class="card card-body bg-success bg-opacity-10 p-4 h-100">
                        <div class="d-flex justify-content-between align-items-center">
                            <!-- Digit -->
                            <div>
                                <div class="d-flex">
                                    <h2 class="purecounter mb-0 fw-bold" data-purecounter-start="0"
                                        data-purecounter-end="845" data-purecounter-delay="200">{{ this.totalSections}}</h2>
                                </div>
                                <span class="mb-0 h6 fw-light">Sections</span>
                            </div>
                            <!-- Icon -->
                            <div class="icon-lg rounded-circle bg-success text-white mb-0"><i
                                    class="bi bi-stopwatch-fill fa-fw"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Counter boxes END -->

            <!-- Chart and Ticket START -->
            <div class="row g-4 mb-4">

                <!-- Chart START -->
                <div class="col-xxl-8">
                    <div class="card shadow h-100">

                        <!-- Card header -->
                        <div class="card-header p-4 border-bottom">
                            <h3 class="card-header-title">Charts</h3>
                        </div>
                        <button class="btn btn-danger" style="margin-left: 20px;" (click)="MakePDF()"><i
                            class="bi bi-file-earmark-pdf-fill"></i>Download
                          PDF</button>
                        <!-- Card body -->
                        <div class="card-body row">
                            <!-- Apex chart -->
                            <div class="col">
                                <div style="display: block;" id="chart-container">
                                  <!-- <canvas baseChart width="400" height="400"
                                    [type]="'line'"
                                    [data]="lineChartData"
                                    [options]="lineChartOptions"
                                    [legend]="lineChartLegend">
                                  </canvas> -->
                                  <canvas baseChart
                                  [datasets]="radarChartDatasets"
                                  [options]="radarChartOptions"
                                  [labels]="radarChartLabels"
                                  [type]="'radar'">
                          </canvas>

                                </div>

                            </div>
                            <div class="col" id="chart-container2">
                              <canvas baseChart width="350" height="350"
                                      [type]="'pie'"
                                      [datasets]="pieChartDatasets"
                                      [labels]="pieChartLabels"
                                      [options]="pieChartOptions"
                                      [plugins]="pieChartPlugins"
                                      [legend]="pieChartLegend">
                              </canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Chart END -->

                <!-- Ticket START -->
                <div class="col-xxl-4">
                    <div class="card shadow h-100">
                        <!-- Card header -->
                        <div class="card-header border-bottom d-flex justify-content-between align-items-center p-4">
                            <h3 class="card-header-title">Contact Us Messages</h3>
                        </div>

                        <!-- Card body START -->
                        <div class="card-body p-4">

                            <!-- Ticket item START -->
                            <div class="d-flex justify-content-between position-relative">
                                <div class="d-sm-flex">
                                    <!-- Avatar -->
                                    
                                    <!-- Info -->
                                    <div class="ms-0 ms-sm-2 mt-2 mt-sm-0">
                                        <h6 class="mb-0"><a  class="stretched-link">{{this.f1}}</a></h6>
                                        <p class="mb-0">{{this.m1}}</p>
                                        <span class="small">{{this.e1}}</span>
                                    </div>
                                </div>
                            </div>
                            <!-- Ticket item END -->

                            <hr><!-- Divider -->

                            <!-- Ticket item START -->
                            <div class="d-flex justify-content-between position-relative">
                                <div class="d-sm-flex">
                                    <!-- Avatar -->
                                 
                                    <!-- Info -->
                                    <div class="ms-0 ms-sm-2 mt-2 mt-sm-0">
                                        <h6 class="mb-0"><a class="stretched-link">{{this.f2}}</a></h6>
                                        <p class="mb-0">{{this.m2}}</p>
                                        <span class="small">{{this.e2}}</span>
                                    </div>
                                </div>
                            </div>
                            <!-- Ticket item END -->

                            <hr><!-- Divider -->

                            <!-- Ticket item START -->
                            <div class="d-flex justify-content-between position-relative">
                                <div class="d-sm-flex">
                                    <!-- Avatar -->
                                  
                                    <!-- Info -->
                                    <div class="ms-0 ms-sm-2 mt-2 mt-sm-0">
                                        <h6 class="mb-0"><a  class="stretched-link">{{this.f3}}</a></h6>
                                        <p class="mb-0">{{this.m3}}</p>
                                        <span class="small">{{this.e3}}</span>
                                    </div>
                                </div>
                            </div>
                            <!-- Ticket item END -->

                            <hr><!-- Divider -->

                            <!-- Ticket item START -->
                            <div class="d-flex justify-content-between position-relative">
                                <div class="d-sm-flex">
                                    <!-- Avatar -->
                                   
                                    <!-- Info -->
                                    <div class="ms-0 ms-sm-2 mt-2 mt-sm-0">
                                        <h6 class="mb-0"><a  class="stretched-link">{{this.f4}}</a></h6>
                                        <p class="mb-0">{{this.m4}}</p>
                                        <span class="small">{{this.e4}}</span>
                                    </div>
                                </div>
                            </div>
                            <!-- Ticket item END -->

                        </div>
                        <!-- Card body END -->
                    </div>
                </div>
                <!-- Ticket END -->
            </div>
            <!-- Chart and Ticket END -->

            <!-- Top listed Cards START -->
            <div class="row g-4">

                <!-- Top instructors START -->
                <div class="col-lg-6 col-xxl-4">
                    <div class="card shadow h-100">

                        <!-- Card header -->
                        <div class="card-header border-bottom d-flex justify-content-between align-items-center p-4">
                            <h3 class="card-header-title">Trainers</h3>
                        </div>

                        <!-- Card body START -->
                        <div class="card-body p-4">

                            <!-- Instructor item START -->
                            <div class="d-sm-flex justify-content-between align-items-center"
                                *ngFor="let item of trainerService.tr">
                                <!-- Avatar and info -->
                                <div class="d-sm-flex align-items-center mb-1 mb-sm-0">
                                    <!-- Avatar -->
                                    <div class="avatar avatar-md flex-shrink-0">
                                        <img class="avatar-img rounded-circle"
                                            src="../../../assets/HomeAssets/images/{{item.imagename}}" alt="avatar">
                                    </div>
                                    <!-- Info -->
                                    <div class="ms-0 ms-sm-2 mt-2 mt-sm-0">
                                        <h3 class="mb-1">{{ item.username }}<i
                                                class="bi bi-patch-check-fill text-info small ms-1"></i></h3>
                                        <ul class="list-inline mb-0 small">
                                            <li class="list-inline-item fw-light me-2 mb-1 mb-sm-0"><i
                                                    class="fas fa-envelope text-purple me-1"></i>{{ item.email }}</li>
                                            <li class="list-inline-item fw-light me-2 mb-1 mb-sm-0">
                                                <i class="fas fa-phone text-warning me-1"></i>{{ item.phonenumber }}
                                            </li>
                                        </ul>
                                        <hr>
                                    </div>
                                </div>
                                <!-- Button -->


                            </div>
                            <!-- Instructor item END -->
                            <!-- Divider -->

                        </div>

                        <!-- Card body END -->
                    </div>
                </div>
                <!-- Top instructors END -->

                <!-- Notice Board START -->
                <div class="col-lg-6 col-xxl-4">
                    <div class="card shadow h-100">
                        <!-- Card header -->
                        <div class="card-header border-bottom p-4">
                            <h3 class="card-header-title">Courses</h3>
                        </div>

                        <!-- Card body START -->
                        <div class="card-body p-4">
                            <div class="custom-scrollbar h-300px">

                                <!-- Notice Board item START -->
                                <div class="d-flex justify-content-between position-relative">
                                    <div class="d-sm-flex">
                                        <div
                                            class="icon-lg bg-orange bg-opacity-10 text-orange rounded-2 flex-shrink-0">
                                            <i class="fas fa-book-open fs-5"></i>
                                        </div>
                                        <!-- Info -->
                                      
                                           
                                            
                                            <div class="ms-0 ms-sm-2 mt-2 mt-sm-0">
                                                <h3 class="mb-1">{{this.c1}}</h3>
                                                <ul class="list-inline mb-0 small">
                                                    <li class="list-inline-item fw-light me-2 mb-1 mb-sm-0">{{this.d1}}</li>
                                                   
                                                </ul>
                                                
                                            </div>
                                    </div>
                                </div>
                                <!-- Notice Board item END -->

                                <hr><!-- Divider -->

                                <!-- Notice Board item START -->
                                <div class="d-flex justify-content-between position-relative">
                                    <div class="d-sm-flex">
                                        <div
                                            class="icon-lg bg-orange bg-opacity-10 text-orange rounded-2 flex-shrink-0">
                                            <i class="fas fa-book-open fs-5"></i>
                                        </div>
                                        <!-- Info -->
                                       
                                        <div class="ms-0 ms-sm-2 mt-2 mt-sm-0">
                                            <h3 class="mb-1">{{this.c2}}</h3>
                                            <ul class="list-inline mb-0 small">
                                                <li class="list-inline-item fw-light me-2 mb-1 mb-sm-0">{{this.d2}}</li>
                                               
                                            </ul>
                                            
                                        </div>
                                    </div>
                                </div>
                                <!-- Notice Board item END -->

                                <hr><!-- Divider -->

                                <!-- Notice Board item START -->
                                <div class="d-flex justify-content-between position-relative">
                                    <div class="d-sm-flex">
                                        <div
                                            class="icon-lg bg-orange bg-opacity-10 text-orange rounded-2 flex-shrink-0">
                                            <i class="fas fa-book-open fs-5"></i>
                                        </div>
                                        <!-- Info -->
                                      
                                        <div class="ms-0 ms-sm-2 mt-2 mt-sm-0">
                                            <h3 class="mb-1">{{this.c3}}</h3>
                                            <ul class="list-inline mb-0 small">
                                                <li class="list-inline-item fw-light me-2 mb-1 mb-sm-0">{{this.d3}}</li>
                                               
                                            </ul>
                                            
                                        </div>
                                    </div>
                                </div>
                                <!-- Notice Board item END -->

                                <hr><!-- Divider -->

                                <!-- Notice Board item START -->
                                <div class="d-flex justify-content-between position-relative">
                                    <div class="d-sm-flex">
                                        <div
                                            class="icon-lg bg-orange bg-opacity-10 text-orange rounded-2 flex-shrink-0">
                                            <i class="fas fa-book-open fs-5"></i>
                                        </div>
                                        <!-- Info -->
                                      
                                        <div class="ms-0 ms-sm-2 mt-2 mt-sm-0">
                                            <h3 class="mb-1">{{this.c4}}</h3>
                                            <ul class="list-inline mb-0 small">
                                                <li class="list-inline-item fw-light me-2 mb-1 mb-sm-0">{{this.d4}}</li>
                                               
                                            </ul>
                                            
                                        </div>
                                    </div>
                                </div>
                            
                                <!-- Notice Board item END -->
                            </div>
                        </div>
                        <!-- Card body END -->

                        <!-- Card footer START -->
                   
                        <!-- Card footer START -->
                    </div>
                </div>
                <!-- Notice Board END -->

                <!-- Traffic sources START -->
                <div class="col-lg-6 col-xxl-4">
                    <div class="card shadow h-100">

                        <!-- Card header -->
                        <div class="card-header border-bottom d-flex justify-content-between align-items-center p-4">
                            <h3 class="card-header-title">Testimonials</h3>
                        </div>

                        <!-- Card body START -->
                        <div class="card-body p-4">
                            <!-- Chart -->
                            <div class="col-sm-6 mx-auto">
                                <div id="ChartTrafficViews"></div>
                            </div>
                            <!-- *ngFor="let item of shuffledTestimonials.slice(0, 4)" -->
                            <!-- Content -->
                            <ul class="list-group list-group-borderless mt-3" >
                               
                                <li class="list-group-item"><i class="text-primary fas fa-circle me-2"></i>{{ this.x1 }}</li>
                                <li class="list-group-item"><i class="text-success fas fa-circle me-2"></i>{{ this.x2}}</li>
                                <li class="list-group-item"><i class="text-warning fas fa-circle me-2"></i>{{ this.x3}}</li>
                                <li class="list-group-item"><i class="text-danger fas fa-circle me-2"></i>{{ this.x4 }}</li>
                            </ul>
                        </div>
                    </div>
                    <!-- Card body END -->
                </div>
                <!-- Traffic sources END -->

            </div>
            <!-- Top listed Cards END -->

        </div>
        <!-- Page main content END -->
    </div>
  
</main>
