<app-home-header></app-home-header>
<!-- **************** MAIN CONTENT START **************** -->


<main>

    <!-- =======================
    Page Banner START -->
    <section class="pt-5 pb-0"
        style="background-image:url(../../../assets/HomeAssets/images/element/map.svg); background-position: center left; background-size: cover;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-xl-6 text-center mx-auto">
                    <!-- Title -->
                    <h6 class="text-primary">Contact us</h6>
                    <h1 class="mb-4">We're here to help!</h1>
                </div>
            </div>
            <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#76BDF5" type="line-scale-party"
                [fullScreen]="true">
            </ngx-spinner>

            <!-- Contact info box -->

        </div>
    </section>
    <!-- =======================
    Page Banner END -->

    <!-- =======================
    Image and contact form START -->
    <section>
        <div class="container">
            <div class="row g-4 g-lg-0 align-items-center">

                <div class="col-md-6 align-items-center text-center">
                    <!-- Image -->
                    <img src="../../../assets/HomeAssets/images/element/contact.svg" class="h-400px" alt="">

                    <!-- Social media button -->

                </div>

                <!-- Contact form START -->
                <div class="col-md-6">
                    <!-- Title -->
                    <h2 class="mt-4 mt-md-0">Let's talk</h2>
                    <p>To request a quote or want to meet up for coffee, contact us directly or fill out the form and we
                        will get back to you promptly</p>


                    <form [formGroup]="CreateMessageForm" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                        <!-- First Name -->
                        <div class="mb-4 bg-light-input">
                            <mat-form-field class="example-full-width">
                                <mat-label>First Name</mat-label>
                                <input matInput placeholder="Jak" formControlName="firstname">
                                <mat-error *ngIf="CreateMessageForm.controls['firstname'].hasError('required')">
                                    first name is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <!--Last Name-->
                        <div class="mb-4 bg-light-input">
                            <mat-form-field class="example-full-width">
                                <mat-label>Last Name</mat-label>
                                <input matInput placeholder="Jak" formControlName="lastname">
                                <mat-error *ngIf="CreateMessageForm.controls['lastname'].hasError('required')">
                                    last name is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <!-- Email -->
                        <div class="mb-4 bg-light-input">
                            <mat-form-field class="example-full-width">
                                <mat-label>Email Address</mat-label>
                                <input matInput placeholder="jak@gmail.com" formControlName="email">
                                <mat-error
                                    *ngIf="CreateMessageForm.controls['email'].hasError('email') && !CreateMessageForm.controls['email'].hasError('required')">
                                    Please enter a valid email address
                                </mat-error>
                                <mat-error *ngIf="CreateMessageForm.controls['email'].hasError('required')">
                                    Email is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <!--Phone-->
                        <div class="mb-4 bg-light-input">
                            <mat-form-field class="example-full-width">
                                <mat-label>Phone</mat-label>
                                <input matInput placeholder="+962 000" formControlName="phonenumber">
                                <mat-error *ngIf="CreateMessageForm.controls['phonenumber'].hasError('required')">
                                    phone number is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <!-- Message -->
                        <div class="mb-4 bg-light-input">
                            <mat-form-field class="example-full-width">
                                <mat-label>Leave a comment</mat-label>
                                <textarea matInput placeholder="Ex. It makes me feel..."
                                    formControlName="message"></textarea>
                                <mat-error *ngIf="CreateMessageForm.controls['message'].hasError('required')">
                                    Message is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <!-- Button -->
                        <div class="d-grid">
                            <input type="submit" class="btn btn-lg btn-primary mb-0" value="Send Message"
                                [disabled]="CreateMessageForm.invalid" (click)="CreateMessage()">
                        </div>
                    </form>
                </div>
                <!-- Contact form END -->
            </div>
        </div>
    </section>
    <!-- =======================
    Image and contact form END -->

    <!-- =======================
    Map START -->
    <section class="pt-0">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <iframe class="w-100 h-400px grayscale rounded"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3363.8059194709654!2d35.86423011547625!3d32.53133010377855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151c7733a4c73ee7%3A0xec12b636b1bc7b92!2sHarmony%20Information%20Technology%20Solution!5e0!3m2!1sen!2sjo!4v1680057254002!5m2!1sen!2sjo"
                        height="500" style="border:0;" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Map END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->


<app-home-footer></app-home-footer>